@model Customer
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Hello @Model.FirstName @Model.LastName You created an account for @Model.Email </h1>
<h1>DOB: @Model.BirthDate lactose intolerant: @Model.LactoseIntolerant</h1>